 html{ 
	text-align:center;
	height: 100%; 
	background: linear-gradient(#33ccff, #ff99cc);
}
body{
	text-align:center; 
}
 div{
	height: 100px;
	border-color:black;
}
/*   h1{															(ModifyThis)
	position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -25px;
  margin-left: -50px;
  width: 200px;
  height: 100px;
}
form{
	text-align:center;								(ModifyThis)
	position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -25px;
  margin-left: -75px;
  width: 100px;
  height: 100px; 
}  */

body{
	text-align:center;
} 
