 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 
 html{ 
	text-align:center;
	height: 100%; 
	background: linear-gradient(#33ccff, #ff99cc);
	font-family: Ubuntu,sans-serif; 
	font-weight: bold;
}
body{
	text-align:center; 
}
 div{
	height: 100px;
	border-color:black;
}
 h1{															
	font-family: Ubuntu,sans-serif;
	font-size: 200%;
}

form{
	text-align:center;								
	position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -25px;
  margin-left: -75px;
  width: 100px;
  height: 100px; 
}  


